* {box-sizing: border-box;}

.grid-container{
    margin-left: auto;
    margin-right: auto;	
    width: 100%; 
    max-width: 1200px;  
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    /*-- our gutter -- */ 
    /*background-color: #FFDCDC;
    padding: 10px;*/ 
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

/*-- Responsive part --*/

@media all and (max-width:800px){
    .col-1{ width: 33.33%;  }
    .col-2{ width: 50%;     }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }

    .row .col-2:last-of-type{
        width: 100%; 
    }

    .row .col-5 ~ .col-1{
        width: 100%; 
    }
}

@media all and (max-width:650px){
    .col-1{ width: 50%;     }
    .col-2{ width: 100%;    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }
}

@media all and (max-width:450px){
    .col-1{ width: 100%;    }
    .col-2{ width: 100%;    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }
}

.outline, .outline *{
    border: 1px solid red; 
}


/* ---------------------- Caso o browser suporte CSS Grid ------------------------ */
@supports (display: grid) {
    .grid-container{
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }
    
    .row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* fiz pequena alteração */
        grid-gap: 20px;
        margin: 2rem;
    }
    
    /* para remover o clear */
    .row:before, 
    .row:after {
        content:"";
        display: none ;
    }
    
    .col-1{ grid-column: span 1; width:100%}
    .col-2{ grid-column: span 2; width:100%}
    .col-3{ grid-column: span 3; width:100%}
    .col-4{ grid-column: span 4; width:100%}
    .col-5{ grid-column: span 5; width:100%}
    .col-6{ grid-column: span 6; width:100%}
    
    /*-- Responsive part --*/
    @media all and (max-width:800px){
        .col-1{ grid-column: span 2; }
        .col-2{ grid-column: span 3; }
        .col-3{ grid-column: span 6; }
        .col-4{ grid-column: span 6; }
        .col-5{ grid-column: span 6; }
        .col-6{ grid-column: span 6; }
    
        .row .col-2:last-of-type{
            grid-column: span 6; 
        }
    
        .row .col-5 ~ .col-1{
            grid-column: span 6;
        }
    }
    
    @media all and (max-width:650px){
        .col-1{ grid-column: span 3; }
        .col-2{ grid-column: span 3; }
        .col-3{ grid-column: span 6; }
        .col-4{ grid-column: span 6; }
        .col-5{ grid-column: span 6; }
        .col-6{ grid-column: span 6; }
    }
    
    @media all and (max-width:450px){
        .col-1{ grid-column: span 6; }
        .col-2{ grid-column: span 6; }
        .col-3{ grid-column: span 6; }
        .col-4{ grid-column: span 6; }
        .col-5{ grid-column: span 6; }
        .col-6{ grid-column: span 6; }
    }
    
    .outline, .outline *{
        border: 1px;; 
    }    
}

/*-- some extra column content styling --*/

[class*='col-'] > p {
 /*background-color: #FF22C2;*/ 
 /* outra pequena alteração */
 padding: 1rem;
 margin: 1rem;
 text-align: center; 
 color: #000; 
}


/* --------------------------------------- Meu codigo ----------------------------------------------------------  */


:root {
    --primary :#4CAF50;
    --dark: #df8039;
    --light: #fff;
    --shadow: 0 3px 10px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #fff;
    line-height: 1.4;
}

.saibaMais {
    background: #b3422d;
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.navegador ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(7, 1fr);
}

.navegador a {
    background: var(--primary);
    color: white;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-shadow: var(--shadow);
}

.navegador a:hover {
    background: var(--dark);
    color: var(--light);
}

.dropdown:hover {
    background: var(--dark);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--light);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: var(--dark);}

.dropdown:hover .dropdown-content {display: block;}

.logo img{
    display: inline;
}


.contentor {
    display: grid;
    grid-gap:20px;
    grid-template-areas: 
    'showcase showcase caixa-A'
    'showcase showcase caixa-B';
}


/* showcase */

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(./img/fundoindex.jpeg);
    background-size: cover;
    background-position: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 2rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1rem;
    margin-top: 0;
    color : var(--light);
}

/* Caixa  */

.caixa-A {
    grid-area: caixa-A;
}

.caixa-B {
    grid-area: caixa-B;
}

.caixa {
    background: #969845;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1rem;
}

.caixa h4{
    color: var(--light);
}

.caixa p{
    color: var(--light);
}

/* Parceiras */

.boxes .col-2 {
    background: #969845;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1rem;
}

.boxes h4 {
    color: #b3422d;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

.boxes h2  {
    color: #b3422d;
    text-align:center;
    font-size: 2rem;
}

.boxes a, .poluicao-img a, .encontrar-img a, .onde-img a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.boxes a:hover, .poluicao-img a:hover, .encontrar-img a:hover, onde-img a:hover {
    color: grey;
}


/* Contatos css */


.contatos, .financiamento h1{
    color:#333333;
    padding-left: 0.5rem;
    margin: 0;
}

.contatos h4{
    color:#333333;
    padding: 1rem;
    margin: 0;
}

.contatos p{
    color:#333333;
    margin: 0;
    text-align: left;
}

.formulario h5 {
    color:#333333;
    margin: 2;
    font-size: 2rem;
}

input[type=text], textarea[name=mensagem] {
    border: 1px solid #333333;
}
.formulario label{
        color:#333333;
        margin: 2;
    
}


/* css das curiosidades */

.curiosidades-img {
    min-height: 300px;
    background: url(./img/curiosidades1.jpeg);
    background-size: cover;
    background-position: bottom;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: var(--shadow);
}

.curiosidades-img, .poluicao-img, .encontrar-img, onde-img,  h1 {
    color: var(--light);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
}

/* servicos */

.poluicao-img {
    min-height: 300px;
    background: url(./img/poluicao.jpg);
    background-size: cover;
    background-position: center;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: var(--shadow);
}

.encontrar-img {
        min-height: 300px;
        background: url(./img/870765.jpg);
        background-size: cover;
        background-position: center;
        padding: 1rem;
        display: flex;
        flex-direction: column-reverse;
        box-shadow: var(--shadow);
}

.onde-img {
    min-height: 300px;
    background: url(./img/thumb-1920-345934.jpg);
    background-size: cover;
    background-position: center;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: var(--shadow);

}


.photo:hover {
    background-size: cover;
}


/* css do sobre nós */

.nave_secundario ul {
    display: grid;
    grid-gap: 5px;
    padding: 0;
    list-style: none;
    grid-template-rows: repeat(3, 1fr);
}

.nave_secundario a {
    color: var(--primary);
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.nave_secundario a:hover {
    background: var(--dark);
    color: var(--light);
}

.tartarugas_texto h3 {
    color:#333333;
    margin: 2;
    font-size: 2rem;
}

.tartarugas_texto, .financiamento p {
    color:#333333;
    margin: 2;
    font-size: 1rem;
}



@media(max-width:800px) {
    .contentor {
        grid-template-areas: 
            'showcase showcase'
            'caixa-A caixa-B';    
    }

    .navegador ul{
        grid-template-columns: 1fr;
    }
}

@media(max-width:450px) {
    .contentor {
        grid-template-areas:
        'showcase'
        'caixa-A'
        'caixa-B'
        ;
    }
}